name: Build Windows x64 Release (pnpm)

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  release-win:
    name: Build Windows x64
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build & Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        run: pnpm run release -- --win --x64
